/* Cross Page Styles */
/***********************************/
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background: #100F14;
    text-align: center;
}

footer img {
    width: 10%;
    padding: 3em;
}

/***********************************/


/* Home Page Styles */
/***********************************/

header {
    background-image: url(../img/kenobi.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
}

.header-flex {
    padding: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10%;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 2em;
    font-family: 'Major Mono Display', monospace;
    font-weight: 700; 
    font-size: 1.3em;
    text-shadow: 2px 2px #3D3236;
}

nav a:hover {
    color: #3D3236;
    text-shadow: 2px 2px #fff;
}

h1, h2, h3 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    /* text-align: center; */
}

.trailer {
    text-align: center;
    margin: 7em;
}

.trailer h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.featured-img {
    background-image: url(../img/featured-bg.jpg);
    background-size: cover;
    height: 400px;
}

.images {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.characters h1 {
    font-size: 3em;
    margin: 2em;
    text-align: center;
}

.characters img, .characters p {
    width: 50%;
    margin: 0 auto;
}

.character-info {
    display: inline-block;
    padding-bottom: 4em;
}

.character-info h2, .character-info p {
    padding-bottom: 1.2em;
}

/***********************************/


/* About Page Styles */
/***********************************/

.about {
    margin: 7em;
    text-align: center;
    line-height: 2em;
}

.about-heading {
    font-size: 3em;
    padding-bottom: 1em;
}

.form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.form h2 {
    padding: 2em;
    font-size: 2em;
}

.form h3 {
    font-size: 1em;
    padding: 1em 0;
}

form {
    padding-bottom: 2em;
}

button {
    background-color: #AB856E;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    padding: 1.2em;
    margin: 2em;
}

button:hover {
    background-color: #775a48;
}

/***********************************/


/* Resource Page Styles */
/***********************************/

.resources {
    margin: 7em;
    text-align: center;
    line-height: 2em;
}

.resources h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.resources a {
    text-decoration: none;
    color: #775a48;
}

/***********************************/


/* Gallery Page Styles */
/***********************************/

.gallery {
    margin: 7em 7em 4em 7em;
    text-align: center;
    line-height: 2em;
    text-align: center;
}

.gallery h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.img-gallery {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.gallery-blurb {
    /* padding-top: 1.4em; */
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.gallery-blurb p {
    margin-bottom: 3.5em;
    line-height: 2em;
}


/* Media Queries */
/***********************************/

/* Mobile */
@media (max-width: 43rem) {
    /* homepage styles */
    header, .featured-img {
        background-position: right;
    }

    .header-flex {
        padding: 1.2em;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 50%;
        padding-bottom: 1em;
    }

    nav a {
        display: block;
        text-align: center;
        padding-bottom: 1em;
        width: 100%;
    }

    iframe {
        width: 170px;
        height: 215px;
    }

    .trailer {
        margin: 7em 0;
    }

    .trailer h1 {
        font-size: 1.7em;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    .characters h1 {
        margin: 2em 0;
        font-size: 1.5em;
    }

    footer img {
        width: 40%;
    }

    /* about styles */
    .about {
        margin: 0.2em;
    }
    
    .about h1 {
        font-size: 1.5em;

    }

    .about p {
        width: 60%;
        margin: 0 auto;
    }

    .form {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form h2 {
        font-size: 1.2em;
        padding: 1.2em 0;
        width: 80%;
    }


    /* resources styles */
    .resources h1 {
        font-size: 1.7em;
        line-height: 1.2em;
    }


    /* gallery styles */
    .img-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery h1 {
        line-height: 1.2em;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* Tablet */
@media (max-width: 62rem) {
    header, .featured-img {
        background-position: right;
    }

    .header-flex {
        padding: 1.2em;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 50%;
        padding-bottom: 1em;
    }

    nav a {
        display: block;
        font-size: 2em;
        text-align: center;
        padding-bottom: 1em;
        width: 100%;
    }

    /* iframe {
        width: 470px;
        height: 315px;
    } */

    .trailer {
        margin: 7em 0;
    }

    .trailer h1 {
        font-size: 1.7em;
    }

    /* about */

    .form {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form h2 {
        font-size: 1.2em;
        padding: 1.2em 0;
        width: 80%;
    }

    /* resources styles */
    .resources h1 {
        font-size: 1.7em;
        line-height: 1.2em;
    }

    /* gallery styles */
    .img-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Desktop */
@media (max-width: 82rem) {

}